.about_all {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0 10%;
    padding-block: 50px;
}

.about_text {
    margin-left: 10%;
    padding-block: 70px;
}
.about_text h1{
    margin-bottom: 20px;
}
.about_text p {
    margin-bottom: 20px;
}

.about_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img img {
    width: 90%;
    height: 400px;
    object-fit: cover;
}

.normal_all {
    padding: 0 10%;
    margin-block: 70px;
}

.normal_title h1 {
    font-size: 50px;
    color: #705705;
    margin-bottom: 10px;
}

.normal_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.normal_image {
    width: 95%;
    height: 300px;
    margin-top: 50px;
}

.normal_image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.packages_all_grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.packages_all_box {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.registration_all {
    padding: 0 10%;
    padding-block: 70px;
}

.register_title h1 {
    color: #705705;
    font-size: 50px;
    margin-bottom: 20px;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forms input {
    height: 50px;
    padding-left: 2%;
    border: 1px solid #a19f9f4e;
}

.forms select {

    height: 50px;
    padding-left: 2%;
    border: 1px solid #a19f9f4e;
}

.forms button {
    background-color: #2a4047;
    height: 50px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.forms input:focus {
    outline: none;
}

.forms select:focus {
    outline: none;
}


.forms button {
    background-color: #705705;
    height: 50px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.forms input:focus {
    outline: none;
}

.payment_all {
    padding: 0 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.logo_register {
    width: 250px;
    height: 150px;
    background-image: url(../images/logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.title {
    margin-block: 20px;
}

.title h1 {
    color: #2a4047;
}

.payment_all button {
    margin-top: 30px;
    background-color: #705705;
    padding: 15px 45px;
    border-radius: 30px;
    border: none;
}

.payment_all button a {
    color: #fff;
}

.normal_title button {
    padding: 15px 45px;
    background-color: #705705;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
}

.normal_title button a {
    text-transform: uppercase;
    color: #fff;
}

.accordion {
    border-radius: 4px;
    overflow: hidden;
    margin-top: 70px;
    padding: 0 7%;
    padding-bottom: 100px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-title {
    background-color: #705705;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.accordion-content {
    padding: 20px 20px;
    display: none;
    border: 1px solid #705705;
}

.accordion-content.active {
    display: block;
}

.ss-main {
    display: flex;
    flex-direction: row;
    position: relative;
    user-select: none;
    color: var(--ss-font-color);
    min-height: var(--ss-main-height);
    width: 100%;
    padding: var(--ss-spacing-s);
    cursor: pointer;
    border: 1px solid var(--ss-border-color);
    border-radius: var(--ss-border-radius);
    background-color: var(--ss-bg-color);
    outline: 0;
    box-sizing: border-box;
    transition: background-color var(--ss-animation-timing);
    overflow: hidden;
    height: 50px !important;
}

.ss-main:focus {
    outline: none;
}

@media only screen and (max-width: 1110px) {

    .about_all {
        display: flex;
        flex-direction: column-reverse;
    }

    .about_img {
        margin-top: 50px;
    }

    .about_img img {
        width: 95%;
        object-fit: cover;
    }

    .about_text {
        margin: 0;
    }

    .normal_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .packages_all_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .packages_all_box {
        width: 100%;
    }
}

@media only screen and (max-width: 810px) {
    .normal_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .normal_image {
        width: 100%;
    }

    .about_img img {
        width: 95%;
        object-fit: contain;
    }
}