.welcome_all{
    padding: 0 7%;
    margin-top: 50px;
}



.welcome_text p{
    margin-top: 15px;
}

.priest_all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 7%;
    margin-top: 50px;
}
.priest_card{
    width: 90%;
    border: 2px dashed #ddd;
    border-radius: 30px;
}
.priest_card img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.priest_info{
    /* border: 2px dashed; */
    padding: 0 5%;
    padding-block: 15px;
}

.info_flex{
    display: flex;
    justify-content: space-between;
}

.info_flex a{
    color: #000;
}

.spc_all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;
}

.spc_card{
    width: 95%;
    border: 2px dashed #ddd;
    border-radius: 30px;
    margin-top: 50px;
}

.spc_img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.spc_info{
    padding: 0 5%;
    padding-block: 10px;
}

.box_all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;

}

.box{
    border: 2px dashed #ddd;
    width: 95%;
    padding: 0 5%;
    padding-block: 50px;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
}

.box a{
    color: #000;
}

.map{
    margin-top: 50px;
}

.map iframe{
    width: 100%;
}